@import "colorizer";
@import "compass/css3";
@mixin global() {
  * {
    box-sizing: border-box;
  }
  .fa {
    font-family: skin(font) !important;
    &:before {
      font-family: FontAwesome !important;
    }
  }
  @include std-colors();
  .box {
    display: flex;
    &.col {
      flex-direction: column;
    }
    &.row {
      flex-direction: row;
      @include in-size(xsm, (flex-direction:column));
    }
    &.wrap {
      flex-wrap: wrap;
    }
  }


  .clickable {
    cursor: pointer;
  }
  a.fa, a.fa:visited {
    text-decoration: none;
  }
  a:not(.fa), a:visited:not(.fa) {
    color: color(primary);
    text-decoration: underline;
    &:hover {
      color: slighten(color(primary), 10%);
    }
  }
  @include keyframes(progress_anim) {
    0% {background-position: 0% 0%;}
    100% {background-position: 1000px 0%;}
  }
  .progress{
    position: relative;
    background-image: url('progress.png');
    background-repeat: repeat;
    animation-name: progress_anim;
    -webkit-animation-name: progress_anim;
    background-blend-mode: soft-light;
    opacity: 0.8;
    animation-duration: 15s;
    -webkit-animation-duration: 15s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @page  {
    margin: 1cm;
  }
  .filler {
    flex-grow:1;
  }

  em {
    padding:3px 5px 3px 5px;
    background-color: color(infolight);
    color: color(primary);
    border-bottom: solid 2px color(info);
    display: inline-block;
    text-indent: 0px;
  }

  .spaced {
    justify-content: space-between;
  }
  html {
    background: {
      color: skin(default-background, color(default));
    }
  }
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    $body-background-color: color(light);
    background: {
      color: $body-background-color;
    }
    font: {
      family: skin(font);
      size: skin(font-size);
    }
    color: color(dark);
    input[type=text], textarea {
      width: 100%;
      margin: 0;
      border: 1px solid color(primary);
      padding: 5px 10px;
      @if skin(input-rounded-corners) {
        @include rounded-corners();
      }
    }
    button {
      background: color(primary);
      border: none;
      border-radius: 3px;
      padding: 7px 10px;
      color: color(white);
      cursor: pointer;
      &.danger {
        background: color(danger);
        &:hover {
          background: lighten(color(danger), 5%);
        }
      }
      &:hover {
        background: lighten(color(primary), 5%);
      }
      &:disabled {
        background: color(disabled)!important;
        cursor: default!important;
      }
    }
    table {
      width: 100%;
      thead, tbody {
        line-height: 180%;
      }
      thead {
        border-bottom: 1px solid color(primary);
        th {
        }
      }
      tbody {
        color: color(dark);
        tr.hidden {
          display: none;
        }
        tr:nth-child(2n) {
          background: #ededed;
        }
      }
      td, th {
        vertical-align: top;
        padding: 2px 3px 2px 3px;
        .not-important {
          opacity: 0.5;
        }
      }
    }

  }
}