@import "colorizer";

@mixin global() {
  * {
    box-sizing: border-box;
  }
  @include std-colors();
  .box {
    display: flex;
    &.col {
      flex-direction: column;
    }
    &.row {
      flex-direction: row;
    }
  }
  html {
    background: {
      color: skin(default-background, color(default));
    }
  }
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    $body-background-color: color(light);
    background: {
      color: $body-background-color;
    }
    font: {
      family: skin(font);
      size: skin(font-size);
    }
    color: color(dark);
    @include in-size(font-size);
    input[type=text] {
      width: 100%;
      margin: 0;
      border: 1px solid color(primary);
      padding: 3px;
      @include in-size(font-size);
      @if skin(input-rounded-corners) {
        @include rounded-corners();
      }
    }
    table {
      width: 100%;
      thead, tbody {
        line-height: 180%;
      }
      thead {
        border-bottom: 1px solid color(primary);
        th {
        }
      }
      tbody {
        color: color(dark);
        tr.hidden {
          display: none;
        }
        tr:nth-child(2n) {
          background: #ededed;
        }
      }
      td, th {
        padding: 2px 3px 2px 3px;
        .not-important {
          opacity: 0.5;
        }
      }
    }
    a, a:visited {
      color: color(primary);
      text-decoration: underline;
      &:hover {
        color: slighten(color(primary), 10%);
      }
    }
    > header {
      $header-background-color: color(primary);
      color: color(light);
      background: {
        color: $header-background-color;
      }
      padding: {
        top: skin(header padding-top)
      }
      &.with-logo {
        background-image: url("/img/logo-toolbar.png");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 80px 60px;
        padding-left: 100px!important;
      }
      > .tab {
        color: color(light);
        text-decoration: skin(header tabs text-decoration);
        display: inline-block;
        font: {
          size: skin(header tabs font-size);
          weight: skin(header tabs font-weight);
          family: skin(header tabs font-family);
        }
        padding: {
          top: skin(header tabs padding-top);
          right: skin(header tabs padding-right);
          bottom: skin(header tabs padding-bottom);
          left: skin(header tabs padding-left);
        }
        &:first-child {
          margin-left: skin(header tabs first-tab-left-margin);
        }
        &.active {
          background: $body-background-color;
          color: $header-background-color;
        }
        &:not(.active):hover {
          background: slighten($header-background-color, 10%);
          color: color(light)!important;
        }
        @if skin(rounded-tabs-corners) {
          @include rounded-top-corners();
        }
      }
    }
    > footer {
      font: {
        size: 90%;
      }
    }
    > nav {
      padding: 10px;
      border-bottom: {
        width: skin(nav border-bottom-width);
        style: skin(nav border-bottom-style);
        color: skin(nav border-bottom-color);
      }
      a {
        font: {
          family: skin(nav font-family);
        }
        &:not(:last-child) {
          margin-right: 10px;
          &:after {
            display: inline-block;
            content: '\2192';
            margin-left: 10px;
            text-decoration: none!important;
            color: color(dark);
          }
        }
      }
    }
    > main {
      p {
        text-indent: 25px;
      }
      p, li {
        margin-top: 5px;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul {
        padding-left: 25px;
        > li {
          &:before {
            content: '-';
            margin-right: 10px;
          }
        }
        > ul, > li > ul {
          padding-left: 25px;
          > ul, > li > ul {
            padding-left: 25px;
          }
        }
      }
      @each $k, $v in skin(heading) {
        $selector: $k;
        @if $selector == 'default' {
          $selector: h1, h2, h3, h4, h5, h6;
        }
        #{$selector} {
          @each $z, $i in $v {
            @if $z == 'color' {
              $i: color($i);
            }
            #{$z}: $i;
          }
        }
      }
    }
  }
}