// Describes layered layout
%the-fill {
  width : 100%;
  height: 100%;
}
%the-box {
  display: flex;
  overflow: hidden;
  background: none;
  pointer-events: none !important;
  * {
    pointer-events: all;
  }
  &.row{
    flex-direction: row;

  }
  &.col{
    flex-direction: column;
  }
  &.rest {
    flex-grow: 10;
  }
  .scroll {
    overflow-y: auto;
  }
  .content {
    background-color:#ffffff;
  }
}
%the-layer{
  @extend %the-box;
  @extend %the-fill;
  margin: 0;
  position:absolute;
}

.the {
  .layer {
    @extend %the-layer;
  }
  .box {
    @extend %the-box;
  }
}



