# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

_ReSharper*
sqlbin
msbuild
tmp
*.bak
*.user
*.dotCover
*.suo
*.sln

*.~*
*.*~
*.pidb
*.user*
/qorpent.sys

# mstest test results
TestResults

qorpent.sys.doc/Help
qorpent.sys.doc/obj


UpgradeLog*

.output
.tmp
*.map
/Qorpent.The/Tests/lib/images/temp.png
/Qorpent.The/node_modules
/Qorpent.The/npm-debug.log
/Qorpent.The/.sass-cache
/Qorpent.The/TheStyles/.sass-cache
/Qorpent.The/TheStyles/tests/.sass-cache
/the.webmodule/build/browser.html
/*.DotSettings
/design/dbinstall.vpp
/the.webmodule/dist/css/font-awesome/font-awesome.css
/the.webmodule/dist/css/newthe/toolwindow.css
/the.webmodule/src/css/font-awesome/font-awesome.css
/the.webmodule/src/css/newthe/toolwindow.css
/the.webmodule/src/css/site.css
/the.webmodule/src/css/wiki.css
/the.webmodule/dist/js/angular-mocks.js
/the.webmodule/dist/js/angular-sanitize.min.js
/the.webmodule/dist/js/angular.js
/the.webmodule/dist/js/bindonce.js
/the.webmodule/dist/js/chai.js
/the.webmodule/dist/js/jquery.js
/the.webmodule/dist/js/mocha.js
/the.webmodule/dist/js/moment.js
/the.webmodule/dist/js/react.js
/the.webmodule/dist/js/require.js
/the.webmodule/dist/js/scalyr.js
/the.webmodule/dist/js/teamcity.js
/the.webmodule/dist/js/text.js
/the.webmodule/dist/js/textAngular-sanitize.js
/the.webmodule/dist/js/textAngular.js
/the.webmodule/dist/js/ui-bootstrap.js
/the.webmodule/demo/Video.html
/the.webmodule/demo/dialogViews/videoView.html
/the.webmodule/src/css/site/_colorize.scss
/the.webmodule/dist/css/bootstrap.css
/the.webmodule/dist/css/dropzone.css
/the.webmodule/dist/css/mocha.css
/the.webmodule/dist/css/video-js.css
/the.webmodule/dist/js/dropzone-amd-module.js
/the.webmodule/dist/js/video.js
