# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

_ReSharper*
sqlbin
msbuild
tmp
*.bak
*.user
*.dotCover
*.suo
*.sln

*.~*
*.*~
*.pidb
*.user*
/qorpent.sys

# mstest test results
TestResults

qorpent.sys.doc/Help
qorpent.sys.doc/obj


UpgradeLog*

.output
.tmp
/Qorpent.The/Tests/lib/images/temp.png
/Qorpent.The/node_modules
/Qorpent.The/npm-debug.log
/Qorpent.The/.sass-cache
/Qorpent.The/TheStyles/.sass-cache
/Qorpent.The/TheStyles/tests/.sass-cache
/the.webmodule/build/browser.html
