comdiv <fagim.sadykov@gmail.com>
sals  <l.sadykova@ugmk.com> <larisatyan@gmail.com>
kitsv <s.kitasheva@ugmk.com>
ssu <leossnet@gmail.com> <ssu@local> 
ssu <D:\TheBat>
mia <i.myachin@ugmk.com>
remalloc <remalloc@gmail.com>