body {
    margin: 0;
    padding: 30px 230px 30px 30px;
    font-family:  'SegoeUI', 'Segoe UI', Verdana;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    article {
        page-break-after: always;
        height: 850px;
    /*  background-color: #ccc; */
        border: none;
        overflow: hidden;
    }

    article.contents {
        height: 850px;
    }

    article.titul header,
    article.titul footer {
        display: none;
    }

    .slide-box {
        border: none;
    }

    section>article {
        page-break-after: always;
    }

    section > header {
        display: none;
    }

    div.print-only {
        display: block;
    }

    footer.print-only {
        display: block;
    }

    article.titul footer {
        display: none !important;
    }

    #part_footer {
        display: none;
    }

    .navigation {
        display: none;
    }
}

.contents {
    height: 670px;
    margin-left: 0;
    margin-right: 0;
}

.contents>.two-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.contents h1,
.contents h3,
.contents h4 {
    margin-bottom: 20px;
    font-weight: 100;
    color: rgb(4,37,123);
}

.contents h1 {
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 10px;
}

.contents>div.print-only {
    margin-bottom: 20px;
}

.contents h3 {
    font-size: 16pt;
    margin: 5px 0 5px 30px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 100px;
}

.contents h3 span {
    margin-left: 4px;
    display: inline;
    position: absolute;
    right: 40px;
}

.contents h4 {
    font-size: 12pt;
    margin: 5px 0 5px 60px;
}

.slot-context {
    position: absolute;
    z-index: 1000;
    background-color: #FFFED6;
    padding: 10px;
    border: 1px dashed #333;
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    padding: 15px;
    height: 100%;
    background-color: #f4f4f4;
    border-left: 1px solid #dedede;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation dt {
    margin: 5px 0 5px 0;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.navigation dt a {
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

.navigation dt a:visited {
    color: #222;
}

.navigation dt a:hover {
    color: #222;
    text-decoration: underline;
}

.navigation dt:first-child {
    margin-top: 0;
}

.navigation dd {
    font-size: 13px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
}

.navigation dd a:visited {
    color: #555;
}

.navigation dd a {
    color: #555;
}


.navigation dd a:hover {
    color: #999;
}

section > header,
div.print-only {
    height: 50px;
    background: url('ocmlogo.png') right no-repeat;
}

header > h1,
div > h1 {
    font-size: 24pt;
    /*font-size: 30pt;*/
    font-weight: 100;
    color: rgb(4,37,123);
    margin: 0;
}

div.copyrights {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
}

header > h3 {
    color: rgb(4,37,123);
    font-size: 16pt;
    /*font-size: 13pt;*/
    margin: 0.5em 0 0.5em;
    padding: 0;
    font-weight: 100;
}

article {
    display: block;
    position: relative;
}

.print-only {
    display: none;
}

.systemdata {
    color: #8A8A8A;
    font-size: 10pt;
    font-family: 'Times New Roman';
}

.underwrite {
    display: none;
}

article > footer {
    font-size: 12pt;
    color: rgb(4,37,123);
    background-color: #EDEDED;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

article > footer div {
    display: inline-block;
    padding: 5px 0 5px 0;
    line-height: 40px;
}

article > footer .slides {
    float: right;
    margin-right: 10px;
}

article > footer .object {
    margin-left: 5px;
}

article > footer .icon img {
    padding-right: 10px;
}

@media screen and (max-width: 550px){
    .default,
    .market1,
    .market2,
    .market3 {
        -webkit-box-orient: vertical !important;
        -moz-box-orient: vertical !important;
        box-orient: vertical !important;
    }
}

.slide-box {
    display: -webkit-box;
    display: -moz-box;
    display: box;
}

.slide-box {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    width: 100%;
}

.slide-box .slide-box {
    width: auto;
}

.horizontal {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}

.vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.slot {
    margin: 10px;
/*  box-shadow: 0 3px 2px #555; */
    background-color: #fff;
/*  border: 1px dashed #3d3d3d; */
    position: relative;
}

div.slide-box:first-child {
    background: none !important;
}


/* Стили титульника */


.frontpage {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    width: 100%;
    overflow: hidden;
    height: 850px
}

.frontpage .obj-bg {
    width: 100%;
    background-color: White;
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.frontpage .ugmk-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    margin: 20px;
}

.frontpage .obj-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 170px;
    margin: 20px;
}

.frontpage .ugmk-title {
    position: absolute;
    width: 100%;
    padding: 30px;
    bottom: 0;
    text-align: center;
    font-size: 22pt;
    color: #04257B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.ugmk-title .p1 {
    font-size: 22pt;
    font-weight: 200;
}

.ugmk-title .p3 {
    font-size: 35pt;
    margin-top: 20px;
    margin-bottom: 20px;
}





/* Стили таблиц */


table.data {
    border-collapse : collapse;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    width: 100%;
    background:#fefefe;
    width:100%;
    font-size: 110%;
    margin-top: 20px;
    border-radius:5px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 2px 4px #ccc;
    font-family: 'Segoe UI' !important;
}

table.data th,table.data td {
    border : solid 1px #d3d3d3;
    padding : 2px;
    padding: 1px 6px;
}

table.data td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
table.data td.value {
    text-align: right;
}

table.data td.name {
    min-width: 100px;
}

table.data th {
    padding: 4px 6px;
    height: 1cm;
    text-shadow: 0 1px 1px #666;
    background: #999;
    font-weight: 100;
    color: #fff;
}

table.data th.PLANGOD {
    background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#5EB1E9), to(#0254AC));
    background: -moz-linear-gradient(100% 50% 90deg, #0254AC, #5EB1E9);
    text-shadow: 0 2px 1px #003F85;
}

table.data tr:nth-child(2n) td {
    background: #f6f6f6;
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

table.data tr td.PLANGOD {
    background: -moz-linear-gradient(100% 50% 90deg, #DFF2FF, #ECF7FF);
    background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#ECF7FF), to(#DFF2FF));
    border-right: 2px solid #A8DCFF; border-left: 2px solid #A8DCFF;
}

table.data {
    /*border: 2px solid #838383;*/
}


.tablediv > h1 {
    color: #04257B;
}

h2.graphlike {
    color : #04257B;
    text-align : center;
    margin-top : 10px;
    padding-top : 0px;
    margin-bottom: 3px;
}

.tablediv > .subcaption {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 11px;
    color: #6E7B9C;
    font-family: "DroidSansMono, Verdana";
    margin-bottom: 10px;
}

/*Стили уровней первой колонки*/
table.data tr.level0 td:first-child {
    font-weight: bold;
}

table.data tr.level1 td:first-child {
    padding-left: 30px;
}

table.data tr.level2 td:first-child {
    padding-left: 60px;
}

table.data tr.level3 td:first-child {
    padding-left: 90px;
}

table.data tr.level4 td:first-child {
    padding-left: 120px;
}

table.data tr.level5 td:first-child {
    padding-left: 120px;
    font-style: italic;
}

table.data th.col_measure, 
table.data td.col_measure {
    text-align: center;
}

table.data th.col_data {
    width: 8%;
}

table.data td.value {
    text-align: right;
}

table.data td.name {
    min-width: 100px;
}

table.data th  {
    height: 1cm;
    background-color: #999;
    color: white;
}


.level1-bold tbody tr.level1 td:first-child {
    font-weight: bold;
}

div.error {
	font-size :12pt !important;
	min-width : 100px !important;
}

/*Для расходов инвестиционного характера*/
table.data.rash-inv-har {
    font-size: 125%; 
    /*table-layout: fixed;*/
    width: 100%;  
}
table.data.rash-inv-har tr>th {
    width: 8%;
}
table.data.rash-inv-har tr>th:first-child {
    width: 450px;
}
.rash-inv-har tr>th:nth-child(2) {
    width: 100px;
}

table.data.rash-inv-har.obj_539 {
    font-size: 110%;
}

table.data.rash-inv-har.obj_539 tr>th:first-child {
    width: 500px;
}
