@media print{
	.wiki hr {
		display :none;
		page-break-before : always;
	}
}


.wiki p {
	text-align : justify;
	text-indent : 30px;
}

.wiki .sample {
	background-color: #fafacc;
	border : solid 1px gray;
	padding : 5px;
}

.wiki table {
	border-collapse : collapse;
}

.wiki .wiki-link { 	
	color : #0088CC;
	cursor : pointer;
}
.wiki .wiki-link:hover{ 	
	text-decoration : underline;
}

.wiki table td,  .wiki table th {
	border: solid 1px gray;
	padding : 2px;
}
.wiki table th {
	background-color: #eeeeee;
}

.wiki h1 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 18pt;
	
}
.wiki h2 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 16pt;
	padding-left : 10px;
	
}
.wiki h3 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 14pt;
	padding-left : 20px;
	
}
.wiki h4 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 14pt;
	font-style :italic;
	padding-left : 30px;
	
}
.wiki h5 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 12pt;
	font-style :italic;
	padding-left : 40px;
	
}
.wiki h6 {
	margin-top : 6px;
	margin-bottom : 3px;
	font-size : 10pt;
	font-style :italic;
	padding-left : 50px;
	
}

.wiki .wiki-list-1:before {
	content : "●    ";
	
}
.wiki .wiki-list-2:before {
	content : "○    ";
	
}
.wiki .wiki-list-2 {
	padding-left : 20px;
	
}
.wiki .wiki-list-3:before {
	content : "¤    ";
	
}
.wiki .wiki-list-3 {
	padding-left : 40px;
	
}
.wiki .wiki-list-4:before {
	content : "●    ";
	
}
.wiki .wiki-list-4 {
	padding-left : 60px;
	
}
.wiki .wiki-list-5:before {
	content : "○    ";
	
}
.wiki .wiki-list-5 {
	padding-left : 80px;
	
}
.wiki .wiki-list-6:before {
	content : "¤    ";
	
}
.wiki .wiki-list-6 {
	padding-left : 100px;
	
}

.wiki .wiki-code {
	padding : 5pt;
	background-color : #ffffAA;
	font-family : consolas;
	font-size:8pt;
	
}

.wiki .wiki-code .comment {
	color : green;
	font-style : italic;
}

.wiki .wiki-code .string {
	color : brown;
	font-weight : bold;
}

.wiki .wiki-code .number {
	color : black;
	font-weight : bold;
}

.wiki .wiki-code .delimiter {
	color : darkgreen;
	font-weight : bold;
}

.wiki .wiki-code .operator {
	color : darkgreen;
}

.wiki .wiki-code .keyword {
	color : blue;
}
.wiki .wiki-code .type {
	color : brown;
}

