.wiki .wiki-list-1:before {
	content : "●    ";
}
.wiki .wiki-list-2:before {
	content : "○    ";
}
.wiki .wiki-list-2 {
	padding-left : 20px;
}
.wiki .wiki-list-3:before {
	content : "¤    ";
}
.wiki .wiki-list-3 {
	padding-left : 40px;
}
.wiki .wiki-list-4:before {
	content : "●    ";
}
.wiki .wiki-list-4 {
	padding-left : 60px;
}
.wiki .wiki-list-5:before {
	content : "○    ";
}
.wiki .wiki-list-4 {
	padding-left : 80px;
}
.wiki .wiki-list-6:before {
	content : "¤    ";
}
.wiki .wiki-list-6 {
	padding-left : 100px;
}

.wiki .wiki-code {
	padding : 5pt;
	background-color : #ffffAA;
	font-family : consolas;
	font-size:8pt;
}

.wiki .wiki-code .comment {
	color : green;
	font-style : italic;
}

.wiki .wiki-code .string {
	color : brown;
	font-weight : bold;
}

.wiki .wiki-code .number {
	color : black;
	font-weight : bold;
}

.wiki .wiki-code .delimiter {
	color : darkgreen;
	font-weight : bold;
}

.wiki .wiki-code .operator {
	color : darkgreen;
}

.wiki .wiki-code .keyword {
	color : blue;
}
.wiki .wiki-code .type {
	color : brown;
}

