<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<trust level="Full" />
		<globalization requestEncoding="Utf-8" responseEncoding="Utf-8" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="QWeb" path="*.qweb" verb="*" type="Qorpent.Mvc.HttpHandler.MvcHandlerFactory, Qorpent.Mvc"
			     resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="2147483647" maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
		<httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>