.mapstat {
  padding:5px;
  padding-top:8px;
  padding-bottom:8px;
  font-size: 16px;
  margin-top: 2px;
  color:color(primary);
}

.queryhistory{
  .item {
    padding-top:2px !important;
    padding-bottom: 2px !important;
  }
}

.dropdown-menu {
  display: none;
  position: absolute !important;
  background-color:color(light) !important;
  border:solid 1px color(default) !important;
  padding: 5px !important;
  li {
    font-size: 14px;
  }
  min-width: 200px;
}