@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 26, awesome.scss */
.fa:before {
  font-family: FontAwesome;
}
/* line 29, awesome.scss */
.fa:after {
  font-family: FontAwesome;
}

/* line 35, awesome.scss */
.fa-remove:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-refresh:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-caret-down:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-caret-right:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-chevron-circle-left:before {
  content: "";
}

/* line 35, awesome.scss */
.fa-chevron-circle-right:before {
  content: "";
}

/* line 46, awesome.scss */
.fa-spin:after, .fa-spin:before {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 1, toolwindow.scss */
.toolwindow {
  display: flex;
  flex-direction: column;
  background-color: color(light);
  border: solid 1px color(default);
  padding: 0px;
  margin-top: 3px;
  margin-right: 3px;
  overflow-y: hidden;
}
/* line 14, toolwindow.scss */
.toolwindow > label:first-child, .toolwindow > form > label:first-child {
  background-color: color(primary);
  color: #ffffff;
  margin: 0px;
  display: flex;
  min-height: 30px;
  max-height: 30px;
  line-height: 28px;
  flex-direction: row;
  align-items: center;
  text-indent: 5px;
  justify-content: space-between;
  padding: 3px;
}
/* line 27, toolwindow.scss */
.toolwindow > label:first-child span.tbt, .toolwindow > form > label:first-child span.tbt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 31, toolwindow.scss */
.toolwindow > label:first-child span.tbt i, .toolwindow > form > label:first-child span.tbt i {
  font-size: 18px;
  margin-left: 5px;
}
/* line 34, toolwindow.scss */
.toolwindow > label:first-child span.tbt i:last-child, .toolwindow > form > label:first-child span.tbt i:last-child {
  margin-left: 20px;
}
/* line 39, toolwindow.scss */
.toolwindow > label:first-child i.tbt, .toolwindow > form > label:first-child i.tbt {
  font-size: 18px;
  margin-left: 20px;
}
/* line 46, toolwindow.scss */
.toolwindow form > .button {
  margin-top: 5px;
}
/* line 51, toolwindow.scss */
.toolwindow .item, .toolwindow form {
  padding: 5px;
  color: color(black);
}
/* line 54, toolwindow.scss */
.toolwindow .item a, .toolwindow form a {
  text-decoration: none;
  color: color(primary);
}
/* line 60, toolwindow.scss */
.toolwindow.dialog {
  display: none;
}
/* line 61, toolwindow.scss */
.toolwindow.dialog > form {
  padding: 0px;
}
/* line 65, toolwindow.scss */
.toolwindow.dialog.active {
  display: flex;
}
/* line 68, toolwindow.scss */
.toolwindow.dialog.fixed {
  position: fixed;
  z-index: 10000;
  min-width: 300px;
  min-height: 100px;
  max-width: 1024px;
  max-height: 800px;
}
/* line 76, toolwindow.scss */
.toolwindow.dialog .content {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}
/* line 81, toolwindow.scss */
.toolwindow.dialog > label, .toolwindow.dialog > form > label {
  flex-shrink: 0;
}
/* line 84, toolwindow.scss */
.toolwindow.dialog > nav, .toolwindow.dialog > form > nav {
  flex-shrink: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/* line 91, toolwindow.scss */
.toolwindow.dialog > nav i, .toolwindow.dialog > form > nav i {
  margin-left: 3px;
  margin-right: 3px;
  min-width: 80px;
}

/* line 101, toolwindow.scss */
.modalback {
  display: none;
  position: fixed;
  width: 10000px;
  height: 10000px;
  top: 0px;
  left: 0px;
  z-index: 9990;
  background-color: color(primary);
  opacity: 0.4;
}

/* line 113, toolwindow.scss */
table.props {
  border-collapse: collapse;
  font-size: 80%;
}
/* line 116, toolwindow.scss */
table.props td, table.props th {
  border: solid 1px color(defaultlight);
  padding: 5px;
}
/* line 120, toolwindow.scss */
table.props td:first-child {
  font-size: 90%;
}
/* line 123, toolwindow.scss */
table.props th {
  background-color: color(defaultlight);
  font-weight: bold;
}

/* line 129, toolwindow.scss */
.ng-invalid {
  border: solid 1px color(danger);
}

/* line 132, toolwindow.scss */
form.ng-invalid {
  border: inherit;
}

/* line 2, _layers.scss */
.the .layer {
  width: 100%;
  height: 100%;
}

/* line 6, _layers.scss */
.the .layer, .the .box {
  display: flex;
  overflow: hidden;
  background: none;
  padding-left: 2px;
  pointer-events: none !important;
}
/* line 12, _layers.scss */
.the .layer *, .the .box * {
  pointer-events: all;
}
/* line 15, _layers.scss */
.the .row.layer, .the .row.box {
  flex-direction: row;
  margin: 0 !important;
}
/* line 19, _layers.scss */
.the .col.layer, .the .col.box {
  flex-direction: column;
  margin: 0 !important;
}
/* line 24, _layers.scss */
.the .rest.layer, .the .rest.box {
  flex-grow: 10;
}
/* line 27, _layers.scss */
.the .layer .scroll, .the .box .scroll {
  overflow-y: auto;
}
/* line 30, _layers.scss */
.the .layer .content, .the .box .content {
  background-color: #ffffff;
}
/* line 33, _layers.scss */
.the .layer .statusbar, .the .box .statusbar {
  min-height: 40px;
  max-height: 40px;
}

/* line 38, _layers.scss */
.the .layer {
  margin: 0;
  position: absolute;
}

/* line 52, _layers.scss */
.the body.layer, .the body > .layer, .the html.layer, .the html > .layer {
  top: 0;
  left: 0;
}

/* line 113, page.scss */
.tlicon {
  color: color(primary);
}

/* line 117, page.scss */
html.site body {
  max-width: 800px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* line 122, page.scss */
html.site body.lg {
  max-width: 1024px;
  min-width: 1024px;
}

/* line 129, page.scss */
a {
  text-decoration: none;
  color: color(primary);
}
/* line 132, page.scss */
a :hover {
  text-decoration: underline;
}

/* line 137, page.scss */
i {
  box-sizing: border-box;
}

/*# sourceMappingURL=page.css.map */
