

@if global_variable_exists(skin) {

  $basecolors: map_keys(skin(colors)) !global;
  $ldstep: skin(vars ldstep);

  $lmain: skin(vars lmain, skin(vars ldmain, 20%));
  $dmain: skin(vars dmain, skin(vars ldmain, 20%));
  @each $bn in $basecolors {
    $b: color($bn);
    $skin: updskin(colors, (l0_#{$bn}:slighten($b, $ldstep), d0_#{$bn}:darken($b, $ldstep)));
    $skin: updskin(colors, (l1_#{$bn}:slighten($b, $ldstep*2), d1_#{$bn}:darken($b, $ldstep*2)));
    $skin: updskin(colors, (l2_#{$bn}:slighten($b, $ldstep*3), d2_#{$bn}:darken($b, $ldstep*3)));
    $skin: updskin(colors, (l3_#{$bn}:slighten($b, $ldstep*4), d3_#{$bn}:darken($b, $ldstep*4)));
    $skin: updskin(colors, (l_#{$bn}:slighten($b, $lmain), d_#{$bn}:darken($b, $dmain)));
  }
  $d: color(dark);
  $l: color(light);
  $t: skin(vars contrastlimit);


  @each $bn in $basecolors {
    $b: color($bn);
    $lb: color(l_#{$bn});
    $db: color(d_#{$bn});
    $bt: if(requiredark($b),$d,$l);
    $lbt: if(requiredark($lb),$d,$l);;
    $dbt: if(requiredark($db),$d,$l);;

    $skin: updskin(colors, (#{$bn}_text:$bt));
    $skin: updskin(colors, (l_#{$bn}_text:$lbt));
    $skin: updskin(colors, (d_#{$bn}_text:$dbt));
  }

  @each $bn in $basecolors {
    $b: color($bn);
    @each $tn in $basecolors {
      $t: color($tn);
      @if $b != $t {
        $skin: updskin(colors, (#{$bn}#{$tn}:mix($b, $t)));
      }
    }
  }

  $sm : skin(screen sm,1100px);
  $md : skin(screen md,1600px);
  $mediasm : unquote(" screen and (max-width:  #{$sm})") !global;
  $medialg : unquote(" screen and (min-width:  #{$md})") !global;

  @if map_has_key($skin, overridecolors){
    $skin :updskin(colors, map_get($skin,overridecolors));
  }
}

