@import "title";
@mixin tooltitle(){
  position: relative;
  @include title(tool title, true);
  border-left: none !important;
  border-right: none !important;

  .tbt {
    float:right;
    display: flex;
    align-items: center;
  }
}
@mixin message(){
  position: relative;
  display: flex;
  padding:10px;
  min-height: 20px;
  overflow-y: auto;
  flex-direction: row;
  justify-content: center;
  &.expanded {
    min-height: 100%;
  }
  .closer {
    position: absolute;
    top:3px;
    right: 3px;
    &:before {
      @include awesome(remove);
    }
  }
}
@mixin button(){
  position:relative;
  display: inline-block;
  text-align: center;
  &[disabled='disabled'],&.disabled{
    background-color: color(defaultlight) !important;
    border: dotted 1px color(default) !important;
    color : color(default) !important;
    &:hover {
      background-color: color(defaultlight) !important;
      border: dotted 1px color(default) !important;
      color: color(default) !important;
      &:active {
        background-color: color(defaultlight) !important;
        border: dotted 1px color(default) !important;
        color: color(default) !important;
      }
    }
  }
  &.tab {
    border-radius: 3px 3px 0px 0px;
    &.checked {
      color: color(d_primary);
      background: color(l_default);

        border-bottom: solid 1px color(l_default) !important;
        top:1px;
    }
  }
}



@mixin maintoolbar(){
  padding-bottom: skin(tool toolbar padding-bottom,0px);
  padding-top:skin(tool toolbar padding-top,skin(tool toolbar padding,5px));
  padding-left:skin(tool toolbar padding-left,skin(tool toolbar padding-side,skin(tool toolbar padding,10px)));
  padding-right:skin(tool toolbar padding-right,skin(tool toolbar padding-side,skin(tool toolbar padding,10px)));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: color(primary);
  .logo {
    background-image: url('img/logo-toolbar.png');
    background-size:cover;
    height:36px;
    width:60px;
    margin-right:10px;
    @media#{$mediasm}{
      height:30px;
      width:50px;
      margin-right:6px;
    }
    @media#{$medialg}{
      height:40px;
      width:70px;
      margin-right:16px;
    }
    align-self: flex-start;
  }
  input {
    display: inline-block;
    font-size: 20px;
    align-self: center;
    padding-left:5px;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &.top {
    .button {
      align-self: center;
      border: none !important;
      margin-right: 1px;
      margin-left: 1px;
      &.tab{
        align-self: flex-end;
        margin-right: 0px;
        margin-left: 0px;
      }
      &.checker.primary {
        background-color : color(primary);
        border : solid 1px color(primary) !important;
        color : color(light);
        &:hover {
          background-color : color(l_primary);
        }
        &.checked{
          border :solid 1px color(light) !important;
          border-radius: 5px 5px 5px 5px !important;
        }
      }
    }
  }
  &.tab{
    background-color: color(l_default);
    padding-bottom: 1px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    .button{
      margin-right: 4px;
    }
  }
}
.clickable {
  cursor: pointer;
}
@mixin tools(){
  button, .button, .menuitem {
    @include colorschema((schema:light), false, false);
  }
  .tooltitle {
    @include tooltitle();
  }
  .button, .title {
    @include title(tool button, true, true,true);
  }

  .input {
    @include title(tool input, true, true,true);
  }

  input.block {
    box-sizing: border-box;

  }

  .subtitle {
    color : color(primary);
    background: transparent;
    border-bottom:  solid 1px color(default);
    margin-top: skin(subtitle margin,10px);
    padding-bottom: skin(subtitle padding,2px);
  }
  .message {
    @include message();
  }
  button, .button {
    @include button();
  }
  .maintoolbar{
    @include  maintoolbar();
  }
}