@import "title";
@mixin tooltitle(){
  position: relative;
  @include title(tool title, true);
  border-left: none !important;
  border-right: none !important;

  .tbt {
    float:right;
    display: flex;
    align-items: center;
  }
}
@mixin message(){
  position: relative;
  display: flex;
  padding:10px;
  min-height: 20px;
  overflow-y: auto;
  flex-direction: row;
  justify-content: center;
  &.expanded {
    min-height: 100%;
  }
  .closer {
    position: absolute;
    top:3px;
    right: 3px;
    &:before {
      @include awesome(remove);
    }
  }
}
@mixin button(){
  position:relative;
  display: inline-block;

  &.tab {
    border-radius: 3px 3px 0px 0px;
    &.checked {
      color: color(d_primary);
      background: color(l_default);

        border-bottom: solid 1px color(l_default) !important;
        top:1px;
    }
  }
}
@mixin maintoolbar(){
  padding-bottom: 0px;
  padding-top:skin(tool toolbar padding-top,skin(tool toolbar padding,5px));
  padding-left:skin(tool toolbar padding-left,skin(tool toolbar padding-side,skin(tool toolbar padding,10px)));
  padding-right:skin(tool toolbar padding-right,skin(tool toolbar padding-side,skin(tool toolbar padding,10px)));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: color(primary);
  .logo {
    background-image: url('img/logo-toolbar.png');
    background-size:cover;
    height:30px;
    width:56px;
    @media#{$mediasm}{
      height:24px;
      width:46px;
    }
    @media#{$medialg}{
      height:34px;
      width:64px;
    }
    align-self: flex-start;
  }
  &.top {
    .button {
      border: none !important;
    }
  }
  &.tab{
    background-color: color(l_default);
    padding-bottom: 1px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin tools(){
  button, .button, .menuitem {
    @include colorschema((schema:light), false, false);
  }
  .tooltitle {
    @include tooltitle();
  }
  .button, .title {
    @include title(tool button, true, true,true);
  }
  .message {
    @include message();
  }
  button, .button {
    @include button();
  }
  .maintoolbar{
    @include  maintoolbar();
  }
}