.toolwindow{
  display: flex;
  flex-direction: column;
  background-color: color(light);
  border : solid 1px color(default);
  padding:0px;
  margin-top:3px;
  margin-right: 3px;
  overflow-y: hidden;
  //box-shadow: 3px 3px 5px 5px color(defaultlight);



  > label:first-child, &> form >label:first-child {
    background-color: color(primary);
    color : #ffffff;
    margin: 0px;
    display: flex;
    min-height: 30px;
    max-height: 30px;
    line-height: 28px;
    flex-direction: row;
    align-items: center;
    text-indent: 5px;
    justify-content: space-between;
    padding:3px;
    span.tbt {
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        font-size: 18px;
        margin-left: 5px;
        &:last-child {
          margin-left: 20px;
        }
      }
    }
    i.tbt {
      font-size: 18px;
      margin-left: 20px;
    }
  }

  form {
    > .button {
      margin-top: 5px;
    }
  }

  .item, form {
    padding: 5px;
    color : color(black);
    a {
      text-decoration: none;
      color : color(primary);
    }
  }

  &.dialog {
    > form {
      padding: 0px;
    }
    display: none;
    &.active {
      display: flex;
    }
    &.fixed {
      position: fixed;
      z-index: 10000;
      min-width : 300px;
      min-height:100px;
      max-width:1024px;
      max-height:800px;
    }
    .content {
      padding:20px;
      flex-grow: 1;
      overflow-y: auto;
    }
    &>label, &> form >label  {
      flex-shrink: 0;
    }
    & > nav , &>form > nav{
      flex-shrink: 0;
      margin-bottom:5px;
      display:flex;
      flex-direction:row;
      justify-content: flex-end;
      align-items: center;
      i {
        margin-left: 3px;
        margin-right: 3px;
        min-width: 80px;
      }
    }

  }
}

.modalback {
  display: none;
  position: fixed;
  width:10000px;
  height: 10000px;
  top:0px;
  left:0px;
  z-index: 10000 - 10;
  background-color: color(primary);
  opacity: 0.4;
}

table.props {
  border-collapse: collapse;
  font-size : 80%;
  td,th {
    border : solid 1px color(defaultlight);
    padding : 5px;
  }
  td:first-child{
    font-size:90%;
  }
  th {
    background-color: color(defaultlight);
    font-weight: bold;
  }
}

.ng-invalid {
  border : solid 1px color(danger);
}
form.ng-invalid {
  border : inherit;
}

