/* line 2, the/layouts/_layered.scss */
.the .layer {
  width: 100%;
  height: 100%;
}

/* line 6, the/layouts/_layered.scss */
.the .layer, .the .box {
  display: flex;
  overflow: hidden;
  background: none;
  padding-left: 2px;
  pointer-events: none !important;
}
/* line 12, the/layouts/_layered.scss */
.the .layer *, .the .box * {
  pointer-events: all;
}
/* line 15, the/layouts/_layered.scss */
.the .row.layer, .the .row.box {
  flex-direction: row;
  margin: 0 !important;
}
/* line 19, the/layouts/_layered.scss */
.the .col.layer, .the .col.box {
  flex-direction: column;
  margin: 0 !important;
}
/* line 24, the/layouts/_layered.scss */
.the .rest.layer, .the .rest.box {
  flex-grow: 10;
}
/* line 27, the/layouts/_layered.scss */
.the .layer .scroll, .the .box .scroll {
  overflow-y: auto;
}
/* line 30, the/layouts/_layered.scss */
.the .layer .content, .the .box .content {
  background-color: #ffffff;
}
/* line 33, the/layouts/_layered.scss */
.the .layer .statusbar, .the .box .statusbar {
  min-height: 40px;
  max-height: 40px;
}

/* line 38, the/layouts/_layered.scss */
.the .layer {
  margin: 0;
  position: absolute;
}

/* line 52, the/layouts/_layered.scss */
.the body.layer, .the body > .layer, .the html.layer, .the html > .layer {
  top: 0;
  left: 0;
}

@page {
  margin-left: 15mm;
  margin-right: 10mm;
  margin-bottom: 20mm;
  margin-top: 15mm;
}
/* line 8, the/layouts/_a4.scss */
html.theA4 {
  font-family: consolas, 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
/* line 9, the/layouts/_a4.scss */
html.theA4 .report-toolbar {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 10px;
  border-radius: 3%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 10000;
  background: -moz-linear-gradient(top, #72baea 0%, #c7d8e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #72baea), color-stop(100%, #c7d8e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #72baea 0%, #c7d8e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #72baea 0%, #c7d8e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #72baea 0%, #c7d8e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #72baea 0%, #c7d8e5 100%);
  /* W3C */
  box-shadow: darkgray;
}
@media print {
  /* line 9, the/layouts/_a4.scss */
  html.theA4 .report-toolbar {
    display: none !important;
  }
}
@media screen {
  /* line 8, the/layouts/_a4.scss */
  html.theA4 {
    margin: 0;
    padding: 0;
    padding-top: 2cm;
    background-color: #C7D8E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
/* line 44, the/layouts/_a4.scss */
html.theA4 body {
  background-color: #ffffff;
  font-size: 90%;
  hyphens: auto;
  -moz-hyphens: auto;
}
@media print {
  /* line 44, the/layouts/_a4.scss */
  html.theA4 body {
    padding: 0px !important;
    width: 17.2cm !important;
  }
}
@media screen {
  /* line 44, the/layouts/_a4.scss */
  html.theA4 body {
    background-color: #ffffff;
    border: solid 2px #000000;
    width: 21cm !important;
    padding-left: 15mm !important;
    padding-right: 10mm !important;
    padding-top: 15mm !important;
    padding-bottom: 20mm !important;
  }
}

/* line 2, the/tools/_labels.scss */
.the .tool.labeled {
  padding: 5px;
  display: flex;
  flex-direction: inherit;
  border-radius: 3px;
  border: 1px ridge #000000;
  margin: 5px;
  background: #fefeeb;
  background: -moz-linear-gradient(left, #fefeeb 0%, #fff1cc 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fefeeb), color-stop(100%, #fff1cc));
  background: -webkit-linear-gradient(left, #fefeeb 0%, #fff1cc 100%);
  background: -o-linear-gradient(left, #fefeeb 0%, #fff1cc 100%);
  background: -ms-linear-gradient(left, #fefeeb 0%, #fff1cc 100%);
  background: linear-gradient(to right, #fefeeb 0%, #fff1cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeeb', endColorstr='#fff1cc', GradientType=1 );
  -webkit-box-shadow: 3px 3px 26px 1px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 3px 3px 26px 1px rgba(0, 0, 0, 0.71);
  box-shadow: 3px 3px 26px 1px rgba(0, 0, 0, 0.71);
  overflow: hidden;
}
/* line 25, the/tools/_labels.scss */
.the .tool.labeled > div {
  margin: 2px;
}
/* line 29, the/tools/_labels.scss */
.the .tool.labeled > label:first-child {
  text-align: center;
  background: #93cede;
  background: -moz-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  background: -webkit-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -o-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: -ms-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  background: linear-gradient(to right, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-height: 20px;
}
/* line 42, the/tools/_labels.scss */
.the .tool.labeled .controls {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-height: 20px;
  align-items: center;
}
/* line 47, the/tools/_labels.scss */
.the .tool.labeled i {
  min-width: 20px;
  text-align: center;
  margin-right: 1px;
  margin-left: 1px;
}
/* line 52, the/tools/_labels.scss */
.the .tool.labeled i.active {
  font-weight: bold;
  color: #33aa4c;
}
/* line 56, the/tools/_labels.scss */
.the .tool.labeled i.disabled {
  font-weight: lighter;
  color: lightgray !important;
}
/* line 60, the/tools/_labels.scss */
.the .tool.labeled i.md-icon {
  font-size: 16pt;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
  min-width: 28px;
}

/* line 1, the/tools/_stackedbutton.scss */
.stackedbutton {
  display: block;
  border: solid 1px gray;
  background-color: white;
  width: 50px !important;
  height: 50px !important;
  border: none;
  background: none;
  border-radius: 5%;
  cursor: pointer;
}
/* line 12, the/tools/_stackedbutton.scss */
.stackedbutton .back {
  font-size: 32pt !important;
  transition: all 0.5s ease;
  color: white;
  left: 0;
  top: 0;
  position: absolute;
}
/* line 19, the/tools/_stackedbutton.scss */
.stackedbutton .back .front {
  color: gray;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 32pt !important;
  font-weight: 100;
}
/* line 26, the/tools/_stackedbutton.scss */
.stackedbutton .back .front.fa-file-pdf-o:hover {
  color: #ffffff !important;
}
/* line 29, the/tools/_stackedbutton.scss */
.stackedbutton .back .front.fa-question-circle {
  color: #10bbf2 !important;
}
/* line 31, the/tools/_stackedbutton.scss */
.stackedbutton .back .front.fa-question-circle:hover {
  color: #0B97C4 !important;
}
/* line 36, the/tools/_stackedbutton.scss */
.stackedbutton .back:hover {
  transform: rotate(-1deg) scale(1.05, 1.05);
  color: aliceblue !important;
}
/* line 39, the/tools/_stackedbutton.scss */
.stackedbutton .back:hover.pdf {
  color: #CF1312 !important;
}
/* line 42, the/tools/_stackedbutton.scss */
.stackedbutton .back:hover .help {
  font-size: 10pt !important;
  border: solid 1px gray;
  background-color: #ffffff;
  border-radius: 20%;
}
/* line 50, the/tools/_stackedbutton.scss */
.stackedbutton .back .inner {
  font-size: 10pt !important;
  left: 2px;
  top: -1px;
  color: green;
  width: 18px;
  height: 18px;
  border: solid 1px gray;
  background-color: #ffffff;
  border-radius: 20%;
}
/* line 62, the/tools/_stackedbutton.scss */
.stackedbutton .back .help {
  font-size: 6pt !important;
  left: 28px;
  top: 30px;
  color: #0B97C4;
  width: 18px;
  height: 18px;
}
/* line 73, the/tools/_stackedbutton.scss */
.stackedbutton.unchecked .inner {
  color: #CF1312 !important;
}

/* line 5, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../bin/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, the.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, the.scss */
.the form span.validate {
  font-size: xx-small;
}
/* line 27, the.scss */
.the [ng\:cloak], .the [ng-cloak], .the [data-ng-cloak], .the [x-ng-cloak], .the .ng-cloak, .the .x-ng-cloak {
  display: none !important;
}
/* line 34, the.scss */
.the .dropdown-menu .default a {
  font-weight: bold;
}
/* line 37, the.scss */
.the .dropdown-menu .delimiter {
  height: 1px;
  border-top: solid 1px gray;
}
/* line 43, the.scss */
.the i.disabled {
  color: lightgray;
}

/* line 6, the-debug.scss */
.debug.the .layer {
  border: solid 4px darkgreen;
}
/* line 8, the-debug.scss */
.debug.the .layer > .layer {
  border: solid 3px #007e00;
}
/* line 11, the-debug.scss */
.debug.the .layer .layer, .debug.the .layer .box {
  border: solid 2px #008300;
}

/*# sourceMappingURL=the-debug.css.map */
