/* line 5, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, core/_debug.scss */
.debug {
  border: 1px solid red;
}

/* line 4, core/_global.scss */
* {
  box-sizing: border-box;
}

/* line 22, core/_colorizer.scss */
.dark {
  background-color: #333333;
  color: #fafafa;
}

/* line 25, core/_colorizer.scss */
.dark-light {
  background-color: #666666;
  color: #fafafa;
}
/* line 27, core/_colorizer.scss */
.dark-light.same-color {
  color: black;
}

/* line 31, core/_colorizer.scss */
.dark-darken {
  background-color: black;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-dark {
  color: #333333;
  background-color: #fafafa;
}

/* line 38, core/_colorizer.scss */
.inverse-dark-light {
  color: #666666;
  background-color: #fafafa;
}

/* line 41, core/_colorizer.scss */
.inverse-dark-darken {
  color: black;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-dark-darken.same-color {
  background-color: #666666;
}

/* line 22, core/_colorizer.scss */
.light {
  background-color: #fafafa;
  color: #333333;
}

/* line 25, core/_colorizer.scss */
.light-light {
  background-color: #fbfbfb;
  color: #333333;
}
/* line 27, core/_colorizer.scss */
.light-light.same-color {
  color: #c7c7c7;
}

/* line 31, core/_colorizer.scss */
.light-darken {
  background-color: #c7c7c7;
  color: #333333;
}

/* line 35, core/_colorizer.scss */
.inverse-light {
  color: #fafafa;
  background-color: #333333;
}

/* line 38, core/_colorizer.scss */
.inverse-light-light {
  color: #fbfbfb;
  background-color: #333333;
}

/* line 41, core/_colorizer.scss */
.inverse-light-darken {
  color: #c7c7c7;
  background-color: #333333;
}
/* line 43, core/_colorizer.scss */
.inverse-light-darken.same-color {
  background-color: #fbfbfb;
}

/* line 22, core/_colorizer.scss */
.primary {
  background-color: #4C81AF;
  color: #fafafa;
}

/* line 25, core/_colorizer.scss */
.primary-light {
  background-color: #92b3cf;
  color: #fafafa;
}
/* line 27, core/_colorizer.scss */
.primary-light.same-color {
  color: #2d4d68;
}

/* line 31, core/_colorizer.scss */
.primary-darken {
  background-color: #2d4d68;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-primary {
  color: #4C81AF;
  background-color: #fafafa;
}

/* line 38, core/_colorizer.scss */
.inverse-primary-light {
  color: #92b3cf;
  background-color: #fafafa;
}

/* line 41, core/_colorizer.scss */
.inverse-primary-darken {
  color: #2d4d68;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-primary-darken.same-color {
  background-color: #92b3cf;
}

/* line 22, core/_colorizer.scss */
.default {
  background-color: #D7D7D7;
  color: #333333;
}

/* line 25, core/_colorizer.scss */
.default-light {
  background-color: #f6f6f6;
  color: #333333;
}
/* line 27, core/_colorizer.scss */
.default-light.same-color {
  color: #a4a4a4;
}

/* line 31, core/_colorizer.scss */
.default-darken {
  background-color: #a4a4a4;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-default {
  color: #D7D7D7;
  background-color: #333333;
}

/* line 38, core/_colorizer.scss */
.inverse-default-light {
  color: #f6f6f6;
  background-color: #333333;
}

/* line 41, core/_colorizer.scss */
.inverse-default-darken {
  color: #a4a4a4;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-default-darken.same-color {
  background-color: #f6f6f6;
}

/* line 22, core/_colorizer.scss */
.success {
  background-color: #5E994B;
  color: #fafafa;
}

/* line 25, core/_colorizer.scss */
.success-light {
  background-color: #95c486;
  color: #fafafa;
}
/* line 27, core/_colorizer.scss */
.success-light.same-color {
  color: #345529;
}

/* line 31, core/_colorizer.scss */
.success-darken {
  background-color: #345529;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-success {
  color: #5E994B;
  background-color: #fafafa;
}

/* line 38, core/_colorizer.scss */
.inverse-success-light {
  color: #95c486;
  background-color: #fafafa;
}

/* line 41, core/_colorizer.scss */
.inverse-success-darken {
  color: #345529;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-success-darken.same-color {
  background-color: #95c486;
}

/* line 22, core/_colorizer.scss */
.info {
  background-color: #F9D264;
  color: #333333;
}

/* line 25, core/_colorizer.scss */
.info-light {
  background-color: #fdefc6;
  color: #333333;
}
/* line 27, core/_colorizer.scss */
.info-light.same-color {
  color: #eeb209;
}

/* line 31, core/_colorizer.scss */
.info-darken {
  background-color: #eeb209;
  color: #333333;
}

/* line 35, core/_colorizer.scss */
.inverse-info {
  color: #F9D264;
  background-color: #333333;
}

/* line 38, core/_colorizer.scss */
.inverse-info-light {
  color: #fdefc6;
  background-color: #333333;
}

/* line 41, core/_colorizer.scss */
.inverse-info-darken {
  color: #eeb209;
  background-color: #333333;
}
/* line 43, core/_colorizer.scss */
.inverse-info-darken.same-color {
  background-color: #fdefc6;
}

/* line 22, core/_colorizer.scss */
.danger {
  background-color: #E7582E;
  color: #fafafa;
}

/* line 25, core/_colorizer.scss */
.danger-light {
  background-color: #f2a189;
  color: #333333;
}
/* line 27, core/_colorizer.scss */
.danger-light.same-color {
  color: #9d3212;
}

/* line 31, core/_colorizer.scss */
.danger-darken {
  background-color: #9d3212;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-danger {
  color: #E7582E;
  background-color: #fafafa;
}

/* line 38, core/_colorizer.scss */
.inverse-danger-light {
  color: #f2a189;
  background-color: #333333;
}

/* line 41, core/_colorizer.scss */
.inverse-danger-darken {
  color: #9d3212;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-danger-darken.same-color {
  background-color: #f2a189;
}

/* line 22, core/_colorizer.scss */
.warn {
  background-color: #FA9357;
  color: #fafafa;
}

/* line 25, core/_colorizer.scss */
.warn-light {
  background-color: #fdd3ba;
  color: #333333;
}
/* line 27, core/_colorizer.scss */
.warn-light.same-color {
  color: #e45807;
}

/* line 31, core/_colorizer.scss */
.warn-darken {
  background-color: #e45807;
  color: #fafafa;
}

/* line 35, core/_colorizer.scss */
.inverse-warn {
  color: #FA9357;
  background-color: #fafafa;
}

/* line 38, core/_colorizer.scss */
.inverse-warn-light {
  color: #fdd3ba;
  background-color: #333333;
}

/* line 41, core/_colorizer.scss */
.inverse-warn-darken {
  color: #e45807;
  background-color: #fafafa;
}
/* line 43, core/_colorizer.scss */
.inverse-warn-darken.same-color {
  background-color: #fdd3ba;
}

/* line 8, core/_global.scss */
html {
  background-color: #D7D7D7;
}

/* line 13, core/_global.scss */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  font-family: Lucida Grande, Arial, sans-serif;
  color: #333333;
}
@media screen and (max-width: 1023px) {
  /* line 116, core/_utils.scss */
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 799px) {
  /* line 116, core/_utils.scss */
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 499px) {
  /* line 116, core/_utils.scss */
  body {
    font-size: 11px;
  }
}
@media screen and (max-width: 299px) {
  /* line 116, core/_utils.scss */
  body {
    font-size: 11px;
  }
}
/* line 24, core/_global.scss */
body > header {
  background-color: #4C81AF;
  color: #fafafa;
}
/* line 30, core/_global.scss */
body > footer {
  font-size: 90%;
}
/* line 36, core/_global.scss */
body > main p {
  text-indent: 25px;
}
/* line 39, core/_global.scss */
body > main p, body > main li {
  margin-top: 5px;
}
/* line 42, core/_global.scss */
body > main h1, body > main h2, body > main h3, body > main h4, body > main h5, body > main h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 46, core/_global.scss */
body > main ul {
  padding-left: 25px;
}
/* line 49, core/_global.scss */
body > main ul > li:before {
  content: '-';
  margin-right: 10px;
}
/* line 54, core/_global.scss */
body > main ul > ul, body > main ul > li > ul {
  padding-left: 25px;
}
/* line 56, core/_global.scss */
body > main ul > ul > ul, body > main ul > ul > li > ul, body > main ul > li > ul > ul, body > main ul > li > ul > li > ul {
  padding-left: 25px;
}
/* line 66, core/_global.scss */
body > main h1, body > main h2, body > main h3, body > main h4, body > main h5, body > main h6 {
  font-size: 105%;
  color: #4C81AF;
}
/* line 66, core/_global.scss */
body > main h1 {
  font-size: 120%;
}
/* line 66, core/_global.scss */
body > main h2 {
  font-size: 110%;
}

/* line 4, core/_site.scss */
html.site {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100%;
}
/* line 2, core/site/_body.scss */
html.site body {
  min-width: 1024px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  flex-grow: 1;
  box-shadow: 0 0 15px #cacaca;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media print and (orientation: landscape) {
  /* line 150, core/_utils.scss */
  html.site body {
    min-width: 27cm;
    max-width: 27cm;
  }
}
@media print and (orientation: portrait) {
  /* line 158, core/_utils.scss */
  html.site body {
    min-width: 19cm;
    max-width: 19cm;
  }
}
@media screen and (max-width: 1023px) {
  /* line 168, core/_utils.scss */
  html.site body {
    min-width: 1024px;
    max-width: 1024px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 168, core/_utils.scss */
  html.site body {
    min-width: 800px;
    max-width: 800px;
  }
}
@media screen and (max-width: 799px) {
  /* line 168, core/_utils.scss */
  html.site body {
    min-width: 500px;
    max-width: 500px;
  }
}
@media screen and (max-width: 499px) {
  /* line 168, core/_utils.scss */
  html.site body {
    min-width: 300px;
    max-width: 300px;
  }
}
/* line 15, core/site/_body.scss */
html.site body > header, html.site body > footer {
  flex-shrink: 0;
}
/* line 18, core/site/_body.scss */
html.site body > footer {
  padding: 7px 5px 7px 5px;
}
/* line 21, core/site/_body.scss */
html.site body > main {
  flex-grow: 1;
  padding: 10px 5px 10px 5px;
}

/* line 4, core/_app.scss */
html.app {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
/* line 2, core/app/_body.scss */
html.app body {
  height: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=bit.css.map */
