@import "tmp-import/leaflet.css";
@import "tmp-import/leaflet.awesome-markers.css";
@import "tmp-import/leaflet.draw.css";
@import "tmp-import/MarkerCluster.css";
@import "tmp-import/MarkerCluster.Default.css";
.tlicon {
    margin-right:1px;
    margin-left:1px;
    background: none;
    padding:3px;
    border:none;
    min-height: 20px;
    max-height: 20px;
    border-radius: 3%;
    font-size: 150% !important;
    color:#5E5E5E;
}
.mapstat {
    font-size:90%;
    line-height: 90%;
}