layout {
    /*border: 2px solid blue;*/
    display: flex;
    flex-basis: 0px; /* Не ставить тут auto, а то начинается магия */
    justify-content: flex-start;
    /*align-content: flex-start;*/
}

layout[root] {
    position: absolute;
}

widget {
    flex-direction: column;
    /*border: 1px dashed red;*/
    display: flex;/*
    border-radius: 4px;*/
    margin-bottom: 1px;
    box-shadow: 0 1px 0 #fefefe,
    inset 0 -1px 0 #dfdfdf;
    /*box-shadow:
        inset 0 1px 0 rgba(0,0,0,0.1),
        0 1px 2px rgba(0,0,0,0.2);*/
}

splitter {
    display: block;
    background-color: gray;
    box-shadow: inset 1px 1px white, inset -1px -1px white;
}

widget>.layout__widget-body {
    overflow: auto;
}

widget>.layout__widget-header {
    overflow: hidden;
    height: 25px;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

/*widget>.layout__widget-header:after {
    content: "\e106";
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    font-family: 'Glyphicons Halflings';
}*/

widget:last-child {
    margin-bottom: 0;
    box-shadow: none;
}

widget[invisible] {
    opacity: 0;
}

/*widget:before {
    content: attr(id);
    font-size: 10px;
    color: #999;
}*/

layout[root][orientation="vertical"],
layout[root][orientation="horizontal"] {
    flex-wrap: nowrap;
}

layout[width],
layout[height],
widget[width],
widget[height] {
    flex-grow: 0;
    flex-shrink: 0;
}

layout[orientation="vertical"] {
    flex-direction: column;
    flex-wrap: nowrap;
}

widget[overflow="inherit"]>ng-include{
    overflow-y: inherit;

}

layout[orientation="horizontal"] {
    flex-direction: row;
    flex-wrap: nowrap;
}

layout[root][width="max"] {
    width: 100%;
    max-width: 100%;
}

layout[root][height="max"] {
    height: 100%;
    max-height: 100%;
}

layout[height="max"][width="max"] {
    flex-grow: 1;
    flex-shrink: 1;
}

layout[orientation="horizontal"]>widget[width="max"],
layout[orientation="vertical"]>widget[height="max"] {
    display : flex;
    flex-grow: 1;
    flex-shrink: 1;
}

layout[orientation="horizontal"]>splitter {
    width: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: col-resize;
}

.layout__container.splitting_horizontal {
    cursor: col-resize;
}

.layout__container.splitting_vertical {
    cursor: row-resize;
}

layout[orientation="vertical"]>splitter {
    height: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: row-resize;
}

.widget-empty {
    border: dashed 2px blue;
    font-size: 8pt;
    color: gray;
}

.layout-empty {
    border: solid 2px blue;
}

.widget-empty {
    margin: 5px;
    border: dashed 1px gray;
    font-size: 8pt;
    color: gray;
}

.widget-empty-name {
    background-color: yellow;
}