layout {
    /*border: 2px solid blue;*/
    display: flex;
    flex-basis: 0px; /* Не ставить тут auto, а то начинается магия */
    justify-content: flex-start;
    /*align-content: flex-start;*/
}

layout[root] {
    position: absolute;
}

widget {
    flex-direction: column;
    /*border: 1px dashed red;*/
    display: flex;/*
    border-radius: 4px;
    box-shadow:
        inset 0 1px 0 rgba(0,0,0,0.1),
        0 1px 2px rgba(0,0,0,0.2);*/
}

layout,
widget {
    flex: 1 1 0;
}

layout[width="min"],
layout[height="min"],
widget[width="min"],
widget[height="min"],
layout[width*="px"],
layout[height*="px"],
widget[width*="px"],
widget[height*="px"],
layout[width*="pt"],
layout[height*="pt"],
widget[width*="pt"],
widget[height*="pt"] {
    flex: 0 0 auto;
}

[orientation="horizontal"]>widget {
    box-shadow: inset -1px 0 0 #dfdfdf;
}

[orientation="vertical"]>widget {
    box-shadow: inset 0 -1px 0 #dfdfdf;
}

/* SPLITTER SETUP */

splitter {
    display: block;
    background-color: gray;
    box-shadow: inset 2px 2px white, inset -2px -2px white;
}


layout[orientation="horizontal"]>splitter {
    width: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: col-resize;
}

.layout__container.splitting_horizontal {
    cursor: col-resize;
}

.layout__container.splitting_vertical {
    cursor: row-resize;
}

layout[orientation="vertical"]>splitter {
    height: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: row-resize;
}

widget>.layout__widget-body {
    overflow: auto;
}

widget[overflow="inherit"]>.layout__widget-body {
    overflow: inherit;
}

widget>.layout__widget-header {
    overflow: hidden;
    height: 25px;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

/*widget>.layout__widget-header:after {
    content: "\e106";
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    font-family: 'Glyphicons Halflings';
}*/

widget:last-child {
    margin-bottom: 0;
    box-shadow: none;
}

widget[invisible] {
    opacity: 0;
}

/*widget:before {
    content: attr(id);
    font-size: 10px;
    color: #999;
}*/

layout[root][orientation="vertical"],
layout[root][orientation="horizontal"] {
    flex-wrap: nowrap;
}

layout[orientation="vertical"] {
    flex-direction: column;
    flex-wrap: nowrap;
}

widget[overflow="inherit"]>ng-include{
    overflow-y: inherit;

}

layout[orientation="horizontal"] {
    flex-direction: row;
    flex-wrap: nowrap;
}

layout[root][width="max"] {
    width: 100%;
    max-width: 100%;
}

layout[root][height="max"] {
    height: 100%;
    max-height: 100%;
}

.widget-empty {
    border: dashed 2px blue;
    font-size: 8pt;
    color: gray;
}

.layout-empty {
    border: solid 2px blue;
}

.widget-empty {
    margin: 5px;
    border: dashed 1px #C9C9C9;
    font-size: 8pt;
    color: gray;
}

.widget-empty-name {
    background-color: yellow;
}