menu {
    padding: 0;
    margin: 0;
}

.menu__item {
    cursor: pointer;
}

.menu__item>.menu__item-title:hover {
    text-decoration: none
}

.menu__item-title>a:hover,
.menu__item-title>a {
    color: inherit;
    text-decoration: none;
}

.submenu:empty {
    display: none !important;
}

.submenu>.menu__item.menu__item-divider:hover,
.menu__item.menu__item-divider {
    background-color: lightgray;
}

.submenu>.menu__item-small+.menu__item-divider {
    width:100%;
    height: 1px;
    box-shadow: none;
    display: block;
    margin: 5px 0;
}

.menu__item-small+.menu__item-divider {
    width: 1px;
    padding: 0 !important;
    height: 22px;
    box-shadow: 0 8px 0 lightgray;
    display: inline-block;
}

.menu__item-large+.menu__item-divider {
    width: 1px;
    height: 65px;
    box-shadow: 0 3px 0 lightgray;
    display: inline-block;
}


.menu__dropdown>.menu__horizontal,
.menu__ribbon>.menu__ribbon-groups {
    height: 30px;
    box-shadow: inset 0 -1px 0 lightgray;
    padding: 0 5px;
}

.menu__inline .menu__item,
.menu__dropdown .menu__item,
.menu__ribbon-groups>.menu__item {
    display: inline-block;
    padding: 5px 10px;
    color: black;
}

.menu__dropdown .menu__item[type="icon"] {
    padding-right: 3px;
}

.menu__dropdown>.menu__horizontal>.menu__item.hover,
.menu__ribbon-groups>.menu__item.active {
    /*padding: 4px 3px;
    font-size: 14px;*/
    box-shadow: 0 3px 0 #428BCA;
}

.menu__item-large {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    vertical-align: top;
    padding: 5px;
}

.menu__inline .menu__item-large,
.menu__ribbon .menu__item-large {
    max-width: 128px;
}

.menu__item-small {
    display: inline-block;
}

.menu__item[type="icon"] .icon,
.menu__item[type="icon_with_text"] .icon {
    color: #FFF;
    text-align: center;
}

.menu__item.menu__item-large[type="icon"] .icon,
.menu__item.menu__item-large[type="icon_with_text"] .icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 24px;
    line-height: 28px;
    border-radius: 10px;
}


.menu__dropdown .menu__item[type="icon"]>.menu__item-title:after {
    content: "|";
    color: transparent;
    width: 3px;
}

.menu__item-small[type="icon_with_text"]>.menu__item-title {
    margin-left: 19px;
}

.menu__item-small[type="icon"]>.icon,
.menu__item-small[type="icon_with_text"]>.icon {
    width: 15px;
    height: 15px;
    padding: 2px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 4px;
    float: left;
}

.menu__item-large[type="icon_with_text"]>.icon {
    margin: 3px auto 2px auto;
}

.menu__item-small[type="icon_with_text"]>.icon {
    margin: 1px auto;
}

.menu__item-large .menu__item-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu__item-small .menu__item-title {
    font-size: 12px;
    white-space: nowrap;
}

.menu__dropdown .menu__item>.submenu {
    position: absolute;
    display: none;
    background-color: white;
    margin-top: 5px;
    border: 1px solid lightgray;
    padding: 5px 0;
    min-width: 100px;
}

.menu__dropdown>div>.menu__item>.submenu {
    box-shadow: 0 -2px 0 #428BCA;
    border-top-color: #428BCA;
}

.menu__dropdown>div>.menu__item.open-right>.submenu {
    margin-left: -11px;
}

.menu__dropdown .submenu .submenu {
    margin-top: -28px;
}

.menu__dropdown .menu__item[menu-group] {
    position: relative;
}

.open-left>.submenu {
    right: -1px;
}

.submenu>.menu__item.open-left>.submenu {
    right: 100%;
}

.submenu>.menu__item.open-right>.submenu {
    left: 100%;
}

.menu__dropdown .menu__item[menu-item]:hover>.icon,
.menu__dropdown .menu__item[menu-group].hover>.icon {
    background: white !important;
    color: #428BCA;
}

.menu__item-small>.icon {
    display: inline-block;
}

.menu__dropdown .menu__item.hover>.submenu {
    display: block;
}

.menu__item-small>.menu__item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1px;
}

/*
.menu__dropdown .menu__item[menu-item]:hover>.menu__item-title:after {
    content: attr(title);
    display: block;
    position: absolute;
    top: -1px;
    padding: 1px;
    background-color: #428BCA;
}
*/

.menu__dropdown .menu__item[type="text"]:hover,
.menu__dropdown .menu__item[type="icon_with_text"]:hover,
.menu__dropdown .menu__item[type="icon"]:hover,
.menu__dropdown .menu__item[menu-group].hover {
    position: relative;
    color: white;
    background-color: #428BCA;
    box-shadow: 1px 0 0 #428BCA, -1px 0 0 #428BCA;
}

.menu__dropdown .menu__item[view]:hover {
    background-color: white;
    box-shadow: 1px 0 0 lightgray, -1px 0 0 lightgray;
}

.menu__dropdown .submenu>.menu__item {
    padding: 5px 10px;
    width: 100%;
}

.menu__dropdown>div>.menu__item>.menu__item-title,
.menu__inline .menu__item-title {
    font-weight: bold;
}

.submenu>.menu__item[menu-group].open-left {
    padding-left: 20px;
}
.submenu>.menu__item[menu-group].open-right {
    padding-right: 20px;
}

.menu__dropdown .submenu>.menu__item[menu-group].open-left>.menu__item-title:before,
.menu__dropdown .submenu>.menu__item[menu-group].open-right>.menu__item-title:after {
    font-family: FontAwesome;
    font-size: 90%;
    position: absolute;
    top: 7px;
}

.menu__dropdown .submenu>.menu__item[menu-group].open-right>.menu__item-title:after {
    content: "\f0da";
    right: 10px;
}

.menu__dropdown .submenu>.menu__item[menu-group].open-left>.menu__item-title:before {
    content: "\f0d9";
    left: 10px;
}