table.normal td, table.normal th {
	padding-left : 3px;
	padding-right : 3px;
	border : solid 1px gray;
}

table.normal {
	border-collapse : collapse;
}

table.normal th {
	font-size : 11pt;
	font-weight : bold;
	background-color : #ddd;
}

td.name {
	text-align : left;
	min-width : 300px;
}
td.id {
	font-size:10pt;
}
td.code{
	font-size:10pt;
}

td.wiki {
	font-size:8pt;
}

tr.l0 {
	font-size : 14pt;
}
tr.l1 {
	font-size : 12pt;
	font-weight : bold;
}
tr.l2 {
	font-size : 12pt;
}
tr.l3 {
	font-size : 10pt;
	font-weight : bold;
}
tr.l4 {
	font-size : 10pt;
}
tr.l5 {
	font-size : 8pt;
}

tr.l0 td.name {

}

th a {
	font-size : 10pt;
}
tr.l1 td.name {
	padding-left : 10px;
}
tr.l2 td.name {
	padding-left : 20px;
}
tr.l3 td.name {
	padding-left : 30px;
}
tr.l4 td.name {
	padding-left : 40px;
}
tr.l5  td.name{
	padding-left : 50px;
}

td.value {
	text-align : center;
}

td.numvalue {
	text-align : right;
}

span.kryzh.set_1:before  , span.kryzh.set_True:before {
	content : "+"
}

@media print {
	.A4 {
		width : 100%;
	}
	
	.screen_only {
		display : none;
	}
	
	.editor {
		display : none;
	}
}


@media screen {
	.A4 {
		width : 1024px;
	}
	
	.toc {
		background-color : #ffa;
	}
	
	body {
		margin-left : 1.5cm;
		margin-right : 1.5cm;
	}
}