body {
	font-size: 10pt;
	font-family: Verdana;
}
@font-face {
    font-family: "DroidSansMono" ;  
    src: url('doc/DroidSansMono.ttf') format("truetype");  
}
table {
	font-size : 11pt;
	padding: 0;
	font-family: "DroidSansMono";
}
h1 {
	font-size : 14pt;
	color : #66f;
}
h2 {
	font-size : 16pt;
	color : #66f;
	font-weight: normal;
}
h3 {
	font-size : 10pt;
	color : #66f;
}

td.kryzh.set_1, td.kryzh.set_True {
	background-color : #9f9;
}
