@import "size";
@import "header";
@import "nav";
@import "main";
@import "footer";
@mixin site-body() {
  body {
    @include size();
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    @include qflex(column);
    @include grow(1,1,auto);
    @if skin(body-shadow) {
      @include body-shadow();
    }
    @if skin(rounded-body-corners) {
      @include rounded-bottom-corners();
    }


    @if skin(header active, true){
      @include site-header();
    }
    @if skin(main active, true) {
      @include site-main();
    }
    @if skin(nav active, true){
      @include site-nav();
    }
    @if skin(footer active, true){
      @include site-footer();
    }



  }
}