@import "../utils";
@mixin site-header(){
  >header {
    flex-shrink: 0;
    @include qflex(row,false,center);
    @include skin-styles(header);

    $h : skin(header height);
    @if $h {
      min-height: $h;
    }

    @include in-size((sm xsm),(flex-wrap:wrap));



    a , i {
      margin-right:16px;
      font-size:skin(header label font-size,30px);
      @include in-size((sm xsm),(font-size:16px));
    }

    label {
      margin-right:10px;
      font-size:skin(header label font-size,24px);
      @include in-size((sm xsm),(font-size:16px));
    }

    label.sm {
      font-size:16px;
    }

    a, i {
      cursor: pointer;
    }

    > img:first-child, >img.logo {
      min-height: $h - 10px;
      max-height: $h - 10px;
      margin-right:30px;
      flex-shrink: 0;
      @include skin-styles(header logo);
    }

    $header-background-color: color(primary);
    color: color(light);
    background: {
      color: $header-background-color;
    }
    &.with-logo {
      background-image: url("/img/logo-toolbar.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 80px 60px;
      padding-left: 100px!important;
    }
    > .tab {
      color: color(light);
      text-decoration: skin(header tabs text-decoration);
      display: inline-block;
      font: {
        size: skin(header tabs font-size);
        weight: skin(header tabs font-weight);
        family: skin(header tabs font-family);
      }
      padding: {
        top: skin(header tabs padding-top);
        right: skin(header tabs padding-right);
        bottom: skin(header tabs padding-bottom);
        left: skin(header tabs padding-left);
      }
      &:first-child {
        margin-left: skin(header tabs first-tab-left-margin);
      }
      &.active {
        background: color(light);
        color: $header-background-color;
      }
      &:not(.active):hover {
        background: slighten($header-background-color, 10%);
        color: color(light)!important;
      }
      @if skin(rounded-tabs-corners) {
        @include rounded-top-corners();
      }
    }
  }
}