@import "../utils";
@mixin site-main(){
  >main {
    flex-grow: 1;
    min-height:500px;
    background-color: color(light);
    @include flex(row);
    flex-wrap: wrap;
    @include skin-styles(main);
    @include in-size((sm xsm),(flex-direction:column,flex-wrap:nowrap));
    -webkit-box-orient: vertical;
    > section {
      flex:1;
      flex-shrink: 0;
      min-width: 30%;
      padding:5px;
      border:solid 1px color(default);
      border-radius: 3px;
      margin-right:10px;
      &:last-child{
        margin-right: 0px;
      }
      &.lg {
        min-width: 60%;
      }

      > h1:first-child {
        font-size:18px;
        @include in-size((sm xsm),(font-size:14px));
        @include in-size(wide,(font-size:22px));
        @include flex(row,space-between,center);
      }
      &.list {
        > article {
          margin-top:5px;
          &:first-child {
            margin-top:0px;
          }
          border-top:solid 1px color(primary);
        }
      }

      > article {
        padding:3px;
        &.row {
          > aside {
            flex-shrink: 0;
            border-right: solid 1px color(default);
          }
          >div {
            padding : 3px 10px 3px 10px;
          }
        }
        .legend {
          @include flex(row,space-between,center);
          font-size: 90%;
          color: colormode(default,dark);
          a.fa {
            font-size:130%;
          }
        }
      }
    }

    p {
      text-indent: 25px;
    }
    p, li {
      margin-top: 5px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 25px;
      > li {
        &:before {
          content: '-';
          margin-right: 10px;
        }
      }
      > ul, > li > ul {
        padding-left: 25px;
        > ul, > li > ul {
          padding-left: 25px;
        }
      }
    }
    @each $k, $v in skin(heading) {
      $selector: $k;
      @if $selector == 'default' {
        $selector: h1, h2, h3, h4, h5, h6;
      }
      #{$selector} {
        @each $z, $i in $v {
          @if $z == 'color' {
            $i: color($i);
          }
          #{$z}: $i;
        }
      }
    }
  }
}