@import "../utils";
@mixin site-nav(){
  >nav {
    flex-shrink: 0;
    @include skin-styles(nav);
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    background-color: color(light);



    >.tab, > a {
      padding-top:15px;
      padding-bottom:15px;
      margin-top:10px;
      min-width:100px;
      flex:1;
      text-align: center;
      text-decoration: none;
      border-top : solid 1px color(defaultlight);
      border-bottom :solid 2px color(primary);

      font-size:16px;
      @include in-size((sm xsm),(font-size:14px));
      @include in-size(wide,(font-size:20px));

      &:hover {
        background-color: color(primarylight);
        color:color(light);
      }
      &.inactive {
        color: color(default);
        font-size:90%;
        font-style: italic;
        background-color: color(defaultlight);
      }
      &.active {

        border :solid 2px color(primary);
        border-bottom:none;
        border-radius: 5px 5px 0px 0px;
        &:first-child {
          border-left: none;
          border-radius: 0px 5px 0px 0px;
        }

        &:last-child {
          border-right: none;
          border-radius: 5px 0px 0px 0px;
        }
      }
    }
  }
}