@import "../_utils";
$config: (
        nav: (
                link: (
                        after: (
                                content: ''
                        )
                )
        ),
        color : (
                dark : #333333,
                light : #fafafa,
                disabled: #ccc,
                primary : #4C81AF,
                default : #D7D7D7, //#B5B5B5,
                success : #5E994B, //#67B34E,
                info : #F9D264, //#FFF68E,
                danger :#E7582E,
                warn : #FA9357 //#FFAC51
        ),

        body-shadow: true,
        rounded-body-corners: true,
        rounded-tabs-corners: true,
        input-rounded-corners: true,
        form-factor-print: true,
        form-factor-dynamic: true,
        form-factor-direct: true,
        icons : true,
        toolwindow: true,

        sizes : (
                wide : (
                        font-size:18px,
                        active:false
                ),
                default : (
                        width: 1280px,
                        font-size: 14px,
                        active:false
                ),

                lg : (
                ),
                md : (
                        width: 1024px,
                ),
                sm : (
                        width: 800px,
                ),
                xsm : (
                        width: 320px,
                )
        ),
        font: ( Arial, sans-serif),
        toolbar : (
                height : 66px,
                align: flex-end,
                justify : center,
                distribution : full,
                toppad : 15px,
                botpad : 0px,
                sidepad : 0px,
                button : (
                        minwidth: 158px,
                        toppad : 16px,
                        botpad : 16px,
                )
        ),
        footer : (
                height:30px,
                styles : (
                        padding: 7px 5px 7px 5px
                )
        ),
        main : (
                styles : (
                padding: 10px
                )
        ),
        heading: (
                default: (
                        font-size: 105%,
                        color: primary
                ),
                h1: (
                        font-size: 120%
                ),
                h2: (
                        font-size: 110%
                )
        ),
        header : (
                height: 60px,
                styles : (
                        padding:5px,

                ),
                tabs: (
                        font-size: 18px,
                        font-family: Arial,
                        font-weight: bold,
                        text-decoration: none,
                        padding-top: 10px,
                        padding-right: 10px,
                        padding-left: 10px,
                        padding-bottom: 5px,
                        first-tab-left-margin: 10px
                )
        ),
        item : (
                padding : 5px,
                space : 5px,
                shadow :true,
                shadowsize : 2px,
                bordercolor : default,
                borderradius : 5px,
                title : (
                        color : default,
                        invertcolor : false,
                        align : left,
                        weight : bold,
                        size : 100%,
                        vpad : 3px,
                        hpad : 10px,
                        borderradius: 5px
                )
        ),
        contact : (
                localtimecolor : warn,
                fontsize : 95%,
                name : (
                        fontsize : 120%,
                        weight : bold
                )
        )
) !global;
@function map-merge-deep2($map1, $map2) {
        $result : $map1;
        @each $k, $v in $map2 {
                $newval : $v;
                @if type_of($newval) == 'map' and map_has_key($result, $k)  {
                        $newval : map-merge-deep(map_get($result,$k),$newval);
                }
                $result : map_merge($result,($k:$newval));
        }
        @return $result;
}
@if variable_exists(skin) {
        $config : map-merge-deep( $config , $skin );
}


@if function_exists(skinsetup) {
  $config: skinsetup($config);
}



